@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat;
  color: #252B42;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  padding: 5px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  margin: 0px 21px 0px 0px;
}
.menu__item:last-child {
  margin: 0;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

.main {
  flex: 1 1 auto;
}
.title-block {
  position: relative;
}
.title-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.title-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.title-block__title {
  font-weight: 800;
  font-size: 58px;
  letter-spacing: 0.2px;
  line-height: 138%;
}
.title-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
}
.title-block__buttons {
  display: inline-flex;
}
.title-block__button {
  background: #FF7B47;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  padding: 5px 36px;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 200%;
}
.title-block__button:not(:first-child) {
  margin: 0px 0px 0px 10px;
}
.title-block__button_border {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #0D5C63;
  color: #252B42;
}
.title-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.title-block__image img {
  object-position: right;
}