@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

//создаем технический класс для ограничивающего контейнера
._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px; //для избегания прилипания контента к краю
    box-sizing: content-box; //не включает padding в размер контейнера
}

._ibg {
    position: relative;
    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
//конец технических классов
//HEADER----------------------------------------------------------*
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &__container {
        display: flex;
        min-height: 104px;
        align-items: center;
        @media (max-width: 479px) { //размер под маленький телефон
            min-height: 70px;
        }
    }

    &__logo {
        font-size: 24px;
        font-weight: 700;
        color: inherit;
    }

    &__menu {
        margin: 0px 0px 0px 133px;
        @media (max-width: 992px) { //размер под планшет
            margin: 0px 0px 0px 80px;
        }
        @media (max-width: 767px) { //размер под телефон
            margin: 0px 0px 0px 40px;
        }
        @media (max-width: 479px) { //размер под маленький телефон
            margin: 0px 0px 0px 20px;
        }
    }
}

.menu {
    padding: 5px 0px; //отступ безопасности, во избежание прилипания к верху
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0px 21px 0px 0px;
        &:last-child {
            margin: 0;
        }
    }

    &__link {
        color: #737373;
        font-weight: 600;
        line-height: 171%; // 24/14*100% - 14px осоновной шрифт, 24px line height
        @media (max-width: 479px) { //размер под маленький телефон
            font-size: 18px;
        }
    }
}

//END-OF-HEADER------------------------------------------------------*

//HEADER-BLOCK---------------------------------------------------------*

.header-block {
    text-align: center;
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 142%;
        letter-spacing: 0.2px;
        &:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }
        @media (max-width: 768px) {
            font-size: 30px;
        }        
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.2px;       
        color: #737373;
    }
}

//END-OF-HEADER-BLOCK---------------------------------------------------*

//MAIN-----------------------------------------------------------------*
.main {
    flex: 1 1 auto;
    &__title-block {
    }

    &__container {
    }

    &__services {

    }

    &__advantages {
    }

    &__practice {
    }

    &__about-us {
    }

    &__clients {
    }

    &__subscribe {
    }

    &__touch {
        background-color: #F3F3F3;
    }

    &__contact-us {
        background-color: #FAFAFA;
    }
}
.title-block {
    position: relative;
    &__body {
        padding: 184px 0px 191px 0px;
        position: relative;
        z-index: 2;
        max-width: 400px;
        //все блоки первого уровня вложенности, кроме последнего
        & > *:not(:last-child) {
            margin: 0px 0px 35px 0px;
        }
        @media (max-width: 992px) {
            padding: 120px 0px 191px 0px;
        }
        @media (max-width: 769px) {
            padding: 120px 0px 150px 0px;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 58px;
        letter-spacing: 0.2px;
        line-height: 138%;
        @media (max-width: 420px) {
            font-size: 42px;
        }       
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.2px;
        color: #737373;
        @media (max-width: 479px) {
            color: #4b4646;
        }
    }

    &__buttons {
        display: inline-flex;
        flex-wrap: wrap;
        margin: -10px 0px;        
    }

    &__button {
        background: #FF7B47;
        border-radius: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 48px;
        padding: 5px 36px;
        color: #fff;
        letter-spacing: 0.2px;
        font-weight: 700;
        line-height: 200%;
        margin: 10px 0px;
        &:not(:first-child) {
            margin: 10px 0px 10px 10px;
        }
        &_border {
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid #0D5C63;
            color: #252B42;
        }
        @media (max-width: 420px) {
            flex: 1 1 auto;            
        }
        @media (max-width: 378px) {
            &:not(:first-child) {
                margin: 10px 0px;
            }
        }
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        //корректировка положения картинки
        @media (max-width: 1440px) {
            & img {         
                object-position: right;
            }
        }        
        @media (max-width: 992px) {
            opacity: 0.5;
        }
    }
}

//END-OF-MAIN----------------------------------------------------------*

//SERVICES--------------------------------------------------------------*

.services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px; //создание нахлеста на верхний блок
//поднятие с помощью margin обеспечивает поднятие последующих блоков
//что position не сможет обеспечить
    &__container {
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px -30px;
        justify-content: center;
    }

    &__column {
        padding: 0px 15px;
        flex: 0 1 33.3333%;
        margin: 0px 0px 30px 0px;
        @media (max-width: 992px) {
            flex: 0 1 50%;
            min-width: 300px;
            &:last-child {
                flex: 1 1 100%;
            }            
        }
        @media (max-width: 599px) {
            flex: 1 1 100%;
        }
    }

    &__item {
        height: 100%;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        background-color: #fff;
        padding: 35px 40px;
        &_green {
            background-color: #0D5C63;
        }
        &_green .item-service__title{
            color: #fff;
        }
        &_green .item-service__text{
            color: #fff;
        }
    }
}

.item-service {
    & > *:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }

    &__icon {        
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.1px;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.2px;
        color: #737373;        
    }
}

//END-OF-SERVICES--------------------------------------------------------------*

//ADVANTAGES--------------------------------------------------------------*

.advantages {
    padding: 80px 0px;
    @media (max-width: 992px) {
        padding: 50px 0px;            
    }

    &__container {
    }

    &__header {
        margin: 0px 0px 80px 0px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;        
        justify-content: center;
        margin: 0px -15px -30px 0px;        
    }

    &__columns {
        flex: 0 1 25%;
        padding: 0px 15px;
        margin: 0px 0px 30px 0px;        
        @media (max-width: 1000px) {
            flex: 0 1 50%;            
        }
        @media (max-width: 560px) {
            flex: 0 1 100%;            
        }
    }

    &__item {
        padding: 30px 0px;        
        & > *:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }
        text-align: center;
        background-color: #fff;
    }

    &__icon {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__value {
        font-weight: 700;
        font-size: 40px;
        letter-spacing: 0.2px;
        line-height: 142%;
        @media (max-width: 768px) {
            font-size: 30px;
        }          
    }

    &__text {
        color: #737373;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;        
    }
}

//END-OF-ADVANTAGES-------------------------------------------------------*

//PRACTICE---------------------------------------------------------------*

.practice {
    padding: 80px 0px;
    @media (max-width: 992px) {
        padding: 50px 0px;
    }
    @media (max-width: 767px) {
        padding: 30px 0px;
    }
    @media (max-width: 560px) {
        padding: 20px 0px;
    }
    &__container {

    }

    &__header {
        padding: 45px 0px;
        @media (max-width: 992px) {
            padding: 30px 0px;
        }
        @media (max-width: 767px) {
            padding: 0px 0px 30px 0px;
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px -30px 0px;
    }

    &__column {
        flex: 0 1 25%;
        padding: 0px 15px;
        margin: 0px 0px 30px 0px;
        @media (max-width: 992px) {
            flex: 0 1 50%;
        }
        @media (max-width: 560px) {
            flex: 0 1 100%;
        }
    }

    &__item {
        
    }
}

.item-article {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%; //! необходимое условия для того,чтобы картинку придавить к низу
    &__content {
        padding: 30px;
        & > *:not(:last-child) {
            margin: 0px 0px 15px 0px;
        }
        flex: 1 1 auto;
    }

    &__link {
        display: block;
        &:hover {
            text-decoration: underline;
        }        
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
        color: #252B42;
    }

    &__text {
        color: #737373;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.2px;
    }

    &__image {
        padding: 0px 0px 60% 0px;
        //60% = высота 138px / ширина 230px
        display: block;
    }
}

//END-OF-PRACTICE--------------------------------------------------------*

//ABOUT-US---------------------------------------------------------------*

.about-us {
    padding: 100px 0px;
    background-color: #fff;
    @media (max-width: 992px) {
        padding: 40px 0px 40px 0px;
    }
    &__container {
    }

    &__header {
        margin: 0px 0px 100px 0px;
        @media (max-width: 992px) {
            margin: 0px 0px 40px 0px;
        }
    }

    &__body {
        display: flex;
        align-items: flex-start;
        @media (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: stretch;
        }
    }

    &__video {
        flex: 0 0 57%;
        //ширина видео в процентах от общей ширины контейнера
        position: relative;
        padding: 0px 0px 42.25% 0px;
        //размерозадающий padding
        //ширина определяется 442рх/1046рх - ширина флекс-контейнера
        @media (max-width: 768px) {
            padding: 0px 0px 56.25% 0px;
        }

        & iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1 1 auto;
        padding: 0px 0px 0px 120px;
        @media (max-width: 992px) {
            padding: 0px 0px 0px 40px;
        }
        @media (max-width: 768px) {
            padding: 0px;
            margin: 0px 0px 30px 0px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 142%;
        letter-spacing: 0.2px;
        margin: 0px 0px 10px 0px;
        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    &__text {
        color: #737373;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.2px;
        margin: 0px 0px 20px 0px;
    }

    &__info {
        padding: 30px 0px 0px 0px;
    }

    &__item {
        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
    }
}

.item-info {
    display: flex;
    
    &__icon {
        flex: 0 1 32px;
    }

    &__body {
        flex: 1 1 auto;
        padding: 0px 0px 0px 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
        &:not(:last-child) {
            margin: 0px 0px 5px 0px;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.2px;
        color: #737373;
    }
}

//END-OF-ABOUT-US--------------------------------------------------------*

//CLIENTS----------------------------------------------------------------*

.clients {
    padding: 50px 0px;
    &__container {
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0px -15px;
    }

    &__item {
        padding: 0px 15px;
        flex: 0 1 16.6667%;
        text-align: center;
        min-width: 140px;
        &:not(:last-child) {
            margin: 0px 0px 15px 0px;
        }
        & img {
            max-width: 100%; //страховка на случай добавления большого изображения
        }
    }
}

//END-OF-CLIENTS---------------------------------------------------------*

//SUBSCRIBE--------------------------------------------------------------*

.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;
    @media (min-width: 769px) {
        &::before {
            content: "";
            background-color: #252B42;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 77px;
        }
    }
    
    &__container {
    }

    &__body {
        position: relative;
        z-index: 2;
        margin: 0px 17px; //32px - 15px = 17px учитываем padding от ._container
        display: flex;
        justify-content: space-between;
        padding: 30px 40px 30px 50px;
        align-items: center;
        background-color: #17213C;
        border-radius: 2px;
        @media (max-width: 982px) {
            flex-direction: column;
            justify-content: center;
        }
        @media (max-width: 768px) {
            padding: 20px;
            margin: 0px -15px;
        }
        @media (max-width: 360px) {
            padding: 10px;
        }
    }

    &__title {
        flex: 0 1 50%;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.1px;
        max-width: 266px;
        @media (max-width: 982px) {
            flex: 0 1 100%;
            max-width: 100%;
            margin: 0px 0px 10px 0px;
            font-size: 18px;
        }
        @media (max-width: 360px) {
            font-size: 16px;
            text-align: center;
        }
    }

    &__form {
        flex: 0 1 50%;
        display: flex;
        @media (max-width: 982px) {
            flex: 0 1 100%;
            width: 100%;
        }
    }

    &__input {
        flex: 1 1 auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.2px;
        color: #737373;
        &:focus {
            color: #252B42;
        }
        padding: 15px 0px 15px 20px;
        background: #F9F9F9;
        border: 1px solid #E6E6E6;
        border-right: 0; //чтобы исключить двойную границу
        box-sizing: border-box;
        border-radius: 5px 0px 0px 5px;
        @media (max-width: 360px) {
            padding: 5px 0px 5px 10px;
            line-height: 150%;
        }
    }

    &__button {
        background-color: #FF7B47;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 0px 5px 5px 0px;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.2px;
        text-align: center;
        padding: 0px 22.5px;
        @media (max-width: 768px) {
            padding: 0px 12px;
        }
        @media (max-width: 360px) {
            padding: 0px 8px;
            line-height: 150%;
        }
    }
}

//END-OF-SUBSCRIBE------------------------------------------------------*

//GET-IN-TOUCH----------------------------------------------------------*

.touch {
    padding: 40px 0px 80px 0px;
    @media (min-width: 992px) {
        padding: 80px 0px 148px 0px;
    }

    &__container {
    }

    &__header {
        margin: 0px 0px 40px 0px;
        @media (min-width: 992px) {
            margin: 0px 0px 80px 0px;
        }
    }

    &__body {
        margin: 0px -15px;
        @media (min-width: 992px) {
            display: flex;
            align-items: center;
            padding: 0px 32.5px;
            margin: 0px;
        }        
    }

    &__item {
        flex: 0 1 33.333%;
    }
}

.item-touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    @media (min-width: 992px) {
        padding: 50px 15px; //отступы безопасности: чтобы контент не прилип к краю при адаптиве
    }
    padding: 30px 15px;
    & > *:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
    &_active {
        background-color: #252B42;
        color: #fff;
        @media (min-width: 992px) {
            padding: 80px 15px;
        }
        padding: 30px 15px;
    }
    &__icon {
    }

    &__emails {
        text-align: center;
    }

    &__email {
        font-weight: 600;
        color: inherit;
        font-size: 14px;
        line-height: 171%;
        &:hover {
            text-decoration: underline;
        }
    }

    &__suuport {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
    }

    &__button {
        min-height: 44px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #FF7B47;
        box-sizing: border-box;
        border-radius: 5px;
        color: #FF7B47;
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        text-align: center;
        letter-spacing: 0.2px;
        transition: all 0.3s ease 0s; //для анимации
        &:hover {
            background-color: #FF7B47;
            color: #fff;
        }
        &_active {
            border: 1px solid #fff;
            color: #fff;
        }
    }
}

//END-OF-GET-IN-TOUCH----------------------------------------------------*

//CONTACT-US-------------------------------------------------------------*

.contact-us {
    padding: 40px 0px;
    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        flex: 1 1 auto;
        & > *:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.1px;
    }

    &__text {
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.2px;
        color: #737373;
    }

    &__button {
        flex: 0 1 180px;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.2px;
        text-align: center;
        background-color: #FF7B47;
        border-radius: 5px;
        max-height: 58px;
        min-width: 163px;
        margin: 0px 15.5px 0px 0px;
        padding: 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
//!1:42:07
//END-OF-CONTACT-US-----------------------------------------------------*

//FOOTER-----------------------------------------------------------------*
.footer{

}
//END-OF-FOOTER----------------------------------------------------------*
